<footer class="footer bg-inverse text-white py-3 mt-3">
  <div class="container-fluid d-flex justify-content-end">
    <span class="text-muted">
      Done by Gijsbotje.
    </span>
  </div>
</footer>