<div class="row">
  <div class="col col-md-6 mx-auto">
    <h1>
      <small class="text-muted">Editing</small> {{model.fullName}}
    </h1>
    {{friends/edit-form
      model=model
      save=(action "save")
      cancel=(action "cancel")
    }}
  </div>
</div>