<div class="row">
  <div class="col col-md-6 mx-auto">
    <h1>Add a New article</h1>
    {{articles/edit-form
      model=model
      save=(action save)
      cancel=(action cancel)
    }}
  </div>
</div>